<p id="notice"><%= notice %></p>

<h1 class="m-5">Students</h1>

<div class="row">
  <div class="col-md-6 offset-md-2">
<table class="table table-hover">
  <thead>
    <tr>
      <th class="table-active">Name</th>
      <th class="table-active">Age</th>
      <th class="table-active" colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @students.each do |student| %>

      <tr>
        <td class="table-active"><%= student.name %></td>
        <td class="table-active"><%= student.age %></td>
        <td class="table-active"><%= link_to 'Show', student, class: 'btn btn-primary' %></td>
        <td class="table-active"><%= link_to 'Edit', edit_student_path(student), class: 'btn btn-success'%></td>
        <td class="table-active"><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>

      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<br>

<%= link_to 'New Student', new_student_path,class: 'm-5' %>
